<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<!-- script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script src="js/formvalidation.js"></script-->

</head>

<body>
		<form method="post" name="passresetform" id="passresetform">
  		<div class="modal-header">
           		<span>Kidos Password Reset</span>
			</div>
			<div class="modal-body">
				
            		<span>Enter registered mobile number or email ID to reset the password</span>
            			<br/>
            			<input class="modal-input"  ng-model="passresetform.txtmobno" type="text" placeholder="Registered Mobile No" ng-disabled="!!passresetform.txtemailid"/>
            			<div style="margin-top:7px;text-align:center">or</div>
            			<input class="modal-input"  ng-model="passresetform.txtemailid" type="email" placeholder="Registered Email Address" ng-disabled="(!!passresetform.txtmobno)"/>
            			<br/>
            			
            			<div ng-show="passresetotpsucess" style="margin-top:5px;color:green;font-size:13px">{{msg}}</div>
            			
            			<div ng-show="passresetotperr" style="margin-top:5px;color:red;font-size:13px">{{msg}}</div>
			
			</div>
	        <div class="modal-footer">
	        	
	    	    <button type="submit" id="btn-generatepassresetotp" class="btn btn-success"  ng-disabled="!(!!passresetform.txtmobno || !!passresetform.txtemailid)"  ng-click="generatePasswordResetOTP()">Send Password Reset Link</button>
	        </div>
            </form>	
</body>
</html>