<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
		<script src="js/tabpanel.js"></script>
	
    <script type="text/javascript" src="js/googlemap.js"></script>


</head>
<body>


<div class="container">
    <div class="row">
    	<section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href ui-sref="step1" data-toggle="tab" aria-controls="step1" role="tab" title="Primary Information">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href ui-sref="step2" data-toggle="tab" aria-controls="step2" role="tab" title="Class Details">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-tasks"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href ui-sref="step3" data-toggle="tab" aria-controls="step3" role="tab" title="Activity Details">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-time"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href ui-sref="complete" data-toggle="tab" aria-controls="complete" role="tab" title="Upload Photos">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-picture"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>


        <form role="form">
            <div class="tab-content">

            	<div class="tab-pane active" role="tabpanel" id="step1">
                    <div class="step1">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="firstname">First Name</label>
                                <input type="text" class="form-control" ng-model="form.firstname" id="firstname" placeholder="First Name">
                            </div>
                            <div class="col-md-6">
                                <label for="lastname">Last Name</label>
                                <input type="text" class="form-control" ng-model="form.lastname" id="lastname" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="emailid">Email address</label>
                                <input type="text" class="form-control" ng-model="form.emailid" id="emailid" placeholder="Email">
                            </div>
                            <div class="col-md-6">
                                <label for="reemailid">Confirm Email address</label>
                                <input type="text" class="form-control" id="reemailid" placeholder="Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" ng-model="form.password" id="password" placeholder="Password">
                            </div>
                            <div class="col-md-6">
                            <label for="repassword">Confirm Password</label>
                                <input type="password" class="form-control" id="repassword" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <ul class="list-inline pull-right">
                        <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                    </ul>
               	</div>

                <div class="tab-pane" role="tabpanel" id="step2">
                    <div class="step2">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="classname">Class Name</label>
                                <input type="text" class="form-control" ng-model="form.name" id="classname" placeholder="First Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 padding-top-5">
                                <label for="address1">Address</label>
                                <input type="text" class="form-control" ng-model="form.addressline1" id="address1" placeholder="Address">
                            </div>
                        </div>
                        <div class="row padding-top-5">
                            <div class="col-md-3">
                                <label for="area">Area/Locality</label>
                                <input type="text" class="form-control" ng-model="form.area" id="area" placeholder="Area/Locality">
                            </div>
                            <div class="col-md-3">
                                <label for="city">City</label>
                                <input type="text" class="form-control" ng-model="form.city" id="city" placeholder="City">
                            </div>
                            <div class="col-md-3">
                            <label for="state">State</label>
                                <input type="text" class="form-control" ng-model="form.state" id="state" placeholder="State">
                            </div>
                            <div class="col-md-3">
                            <label for="pincode">Pincode</label>
                                <input type="text" class="form-control" ng-model="form.pincode" id="pincode" placeholder="Pincode">
                            </div>
                        </div>
                        <div class="row padding-top-5">
                            <div class="col-md-4">
                            	 <label for="phno">Phone Number</label>
                                <input type="text" class="form-control" ng-model="form.contacts.phno" id="phno" placeholder="Phone Number">
                            </div>
                            <div class="col-md-4">
                            	 <label for="altphno">Alternate Phone Number</label>
                                <input type="text" class="form-control" ng-model="form.contacts.altphno" id="altphno" placeholder="Phone Number">
                            </div>
                            <div class="col-md-4">
                            	 <label for="phno">Mobile Number</label>
                                <input type="text" class="form-control" ng-model="form.contacts.mobno" id="mobno" placeholder="Mobile Number">
                            </div>                            
                        </div>

                        <div class="row padding-top-10">
                        	<div class="col-md-12">
                        		<label for="address">Landmark</label>
								<input class="form-control input-md padding-top-5" ng-model="form.landmark" id="address" placeholder="Landmark">
						    </div>
						</div>
					    
					    <div class="padding-top-10" id="map_canvas" style="width: 100%; height: 300px;"></div>
					    <div class="row">
					    	<div class="col-md-3"><input class="form-control input-sm" ng-model="form.latitude" id="latitude" type="text" placeholder="Lattitude"></div>
					       	<div class="col-md-3"><input class="form-control input-sm" ng-model="form.longitude" id="longitude" type="text" placeholder="Longitude"></div>
					    </div>
					

                    </div>
                     <ul class="list-inline pull-right padding-top-10">
                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                            <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                    </ul>

               	</div>

               	<div class="tab-pane" role="tabpanel" id="step3">
                    <div class="step3">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="activitytype">Choose Activity</label>
                            </div>
                            <div class="col-md-8 ">
                                <label for="activitydesc">Description</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <!--input type="text" class="form-control" ng-model="form.type" id="activitytype" placeholder="Cricket, Football etc.."-->
                                <select ng-model="form.type" ng-options="category.catName for category in categorylist track by category._id">
                                </select>
                            </div>
                            <div class="col-md-8">
                                <textarea class="form-control" rows="3" ng-model="form.description" id="activitydesc" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-2">
                                <label for="fees">Fees</label>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2">
                                <label for="fromage">Age Limit</label>
                            </div>
                          
                        </div>    
                        <div class="row padding-top-5">
                            <div class="col-md-2">
                                <input type="text" class="form-control"  ng-model="form.fees" id="fees" placeholder="Rs.">
                            </div>
                            <div class="col-md-2">

                            	<select name="unit" id="unit" ng-model="form.unit">
      								<option ng-repeat="option in availablefeeunits" value="{{option}}">{{option}}</option>
    							</select>

                            </div>
                            
                            <div class="col-md-2">
                                <input type="text" class="form-control"  ng-model="form.age.from" id="fromage" placeholder="Min Age">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control"  ng-model="form.age.to" id="toage" placeholder="Max Age">
                            </div>                            
                        </div>                        
                        <div class="row padding-top-10">
                            <div class="col-md-6">
                                <label for="timing">Timing</label>
                            </div>
                        </div>
                        <div class="row padding-top-5">
							<div class="col-md-4">

								<button  type="button" ng-repeat="nday in daylist" ng-model="nday.selected" class="chkdaybtn btn btn-info" btn-checkbox>{{nday.day}}</button>
							</div>
							<div class="col-md-2">
								<input type="text" class="form-control" ng-model="from" id="from" placeholder="Start Time">
							</div>
							<div class="col-md-2">
								<input type="text" class="form-control" ng-model="to" id="to" placeholder="End Time">
							</div>
							<div class="col-md-2">
								<button class="btn btn-success" id="addtime" type="button" ng-click="addBatch()">Add Batch </button>
							</div>
						</div>						
                    </div>
                   

					<div class="row padding-top-10">
                            <div class="panel-group" id="accordion">
		                    	<div class='col-md-3 padding-top-5' ng-repeat="batch in form.batches">
							  		<div class='panel panel-info'>
							  		<span class='glyphicon glyphicon-remove-circle pull-right'></span>    
							  		 	<div class='panel-heading'>      
							  		 	<h4 class='panel-title'>       
							  		 		<a data-toggle='collapse' data-parent='#accordion' href='#collapseOne'>  Batch  </a> 
							  		 	</h4>
							  		 </div>
							  		 	<div class='panel-collapse collapse in'>
							  		 	<div class='panel-body' >

 
							  		 		 <b>Days : </b><span ng-repeat="days in batch.days">{{days}}{{$last ? '' : ', '}}</span></b>
                                             <br/><b>Time : </b>{{batch.starttime}} - {{batch.endtime}}
								
							  		 	</div>
							  		 </div>
							  	</div>
								</div>
							</div>
					</div>
 					<ul class="list-inline pull-right padding-top-10">
                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                            <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                    </ul>               	
                </div>


                <div class="tab-pane" role="tabpanel" id="complete">
                    <div class="complete">
                         <div class="row padding-top-10">
                            <div class="col-md-2">
                                <label for="fileselect">Please select an image</label> 
                            </div>
                            <div class="col-md-3">
                                <input type="file" id="fileselect"/>

                            </div>
                        </div>
                    <div class="row padding-top-10">    
                        <div class="panel-group" id="accordion">
                            <div class='col-md-3 padding-top-5' ng-repeat="image in form.images">
                                        <div class='gallery' height="100" width="50">
                                            <div class="img-wrap">
                                                <span class="close">&times;</span>
                                                <img ng-src="{{image.imgurl}}" class="img-responsive center-block" data-id="{{image.name}}"/>
                                            </div>
                                            <div>
                                            	<label><input type="radio" ng-model="image.primaryind" value="{{image.primaryind}} name="primaryimggroup">Profile Image</label>
                                        	</div>
                                        </div>
                                    
                            </div>
                        </div>
                    </div>


    <script>
    $('.img-wrap .close').on('click', function() {
        var id = $(this).closest('.img-wrap').find('img').data('id');
        alert('remove picture: ' + id);
    });

    function upload(file, signed_request, url, done) {
      var xhr = new XMLHttpRequest()
      xhr.open("PUT", signed_request)
      xhr.setRequestHeader('x-amz-acl', 'public-read')
      xhr.onload = function() {
        if (xhr.status === 200) {
          done()
        }
      }

      xhr.send(file)
    }

    function sign_request(file, done) {
      var xhr = new XMLHttpRequest()
      xhr.open("GET", "/sign?file_name=" + file.name + "&file_type=" + file.type)

      xhr.onreadystatechange = function() {
        if(xhr.readyState === 4 && xhr.status === 200) {
          var response = JSON.parse(xhr.responseText)
          done(response)
        }
      }

      xhr.send()
    }

    document.getElementById("fileselect").onchange = function() {
      var file = document.getElementById("fileselect").files[0]
      if (!file) return

      sign_request(file, function(response) {
        upload(file, response.signed_request, response.url, function() {
          angular.element(document.getElementById('from')).scope().$apply(angular.element(document.getElementById('from')).scope().addimages(file.name,response.url));
          
        })
      })
    }
    </script>
					<ul class="list-inline pull-right padding-top-10">
                            <li><button type="button" class="btn btn-default" ng-click="registerActivity()">Submit</button></li>
                            
                    </ul>    
				</div>
            </div>
				<span>{{ form | json }}</span>
            </div>
        </form>
    </div>
  	</section>
   </div>
 </div>
</body>