<html>
<head>
	<title>Welcome</title>
	
	<link href="stylesheets/simple-sidebar.css" rel="stylesheet">
	<link href="stylesheets/xeditable.css" rel="stylesheet">
	<link rel="stylesheet" href="stylesheets/kc.fab.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
        
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.css">
	  <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	  
    
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script-->
	<script src="js/photo-gallery.js"></script>
	<script type="text/javascript" src="js/googlemap.js"></script>
	
	
</head>
 <style>
      ul {         
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
      ul li {     
          list-style:none;
        }
      ul li img {
          cursor: pointer;
      }
      .modal-body {
          padding:5px !important;
      }
      .modal-content {
          border-radius:0;
      }
      .modal-dialog img {
          text-align:center;
          margin:0 auto;
      }
    .controls{          
        width:50px;
        display:block;
        font-size:11px;
        padding-top:8px;
        font-weight:bold;          
    }
    .next {
        float:right;
        text-align:right;
    }
      /*override modal for demo only*/
      .modal-dialog {
          max-width:500px;
          padding-top: 90px;
      }
      @media screen and (min-width: 768px){
          .modal-dialog {
              width:500px;
              padding-top: 90px;
          }          
      }
      @media screen and (max-width:1500px){
          #ads {
              display:none;
          }
      }
  </style>


<body>
        <div class="kc_fab_wrapper" >

        </div>
<script>

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    
    
    
    </script>
    

 	<div id="wrapper">
   		<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
             	</li>
	           	<li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>  Class Details</a></li>
			    <li><a href="#"><span class="glyphicon glyphicon-earphone"></span>  Contact Details</a></li>  
			    <li><a href="#"><span class="glyphicon glyphicon-list"></span>  Activity Details</a></li>
			    <li><a href="#"><span class="glyphicon glyphicon-map-marker"></span>  Location Details</a></li>
			    <li><a href="#"><span class="glyphicon glyphicon-camera"></span>  Images</a></li>
			    <li><a href="#"><span class="glyphicon glyphicon-comment"></span>  User Reviews</a></li>
			    <li><a href="#"><span class="glyphicon glyphicon-signal"></span>  Statistics</a></li>
		    </ul>
        </div>    
        <header>
			  <div class="mytitle">
			    <h1 class="myh1 editablefield" editable-text="me().name">{{ me().name|| "No Value"}}</h1>
			    	<!-- p class="numberCircle">4</p-->
					<p class="myp1" star-rating rating-value="getSelectedRating(4)" max="getSelectedRating(5)" />
					<p class="myp2" style="color:white">14 Reviews</p>
				
			  </div>
		</header>          
 		<div id="page-content-wrapper">

	
			<!--  class details -->
			<section>
		      <div class="page-header" id="classdetails">
		       <h3> <a href="#"><span class="glyphicon glyphicon-home"></span>  Class Details</a></h3>
		      </div>
		   	<div class="row">
		   		<div class="col-md-2">
			   		<label for="me().name">Class Name</label>
			   	</div>
			   	<div class="col-md-4">
					<a href="#" editable-text="me().name">{{ me().name|| "No Value"}}</a>
				</div>
				<div class="col-md-2">
			   		<label for="me().type.catName">Category</label>
			   	</div>
			   	
			   	<div class="col-md-4">
  					<a href="#" editable-select="me().type" e-ng-options="category.catName for category in categorylist track by category._id">
    					{{ me().type.catName|| "No Value"}}
  					</a>
				</div>
		
			</div>
			<div class="row">
		   		<div class="col-md-2">
			   		<label for="me().addressline1">Address</label>
			   	</div>
			   	<div class="col-md-4">
					<a href="#" editable-text="me().addressline1">{{ me().addressline1|| "No Value"}}</a>
				</div>
			</div>
			
			<div class="row">
		   		<div class="col-md-2">
			   		<label for="me().area">Area/Locality</label>
			   	</div>
			   	<div class="col-md-4">
					<a href="#" editable-text="me().area">{{ me().area|| "No Value"}}</a>
				</div>
				<div class="col-md-2">
			   		<label for="me().city">City</label>
			   	</div>
			   	<div class="col-md-4">
					<a href="#" editable-text="me().city">{{ me().city|| "No Value"}}</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
			   		<label for="me().state">State</label>
			   	</div>
			   	<div class="col-md-4">
					<a href="#" editable-text="me().state">{{ me().state|| "No Value"}}</a>
				</div>
				<div class="col-md-2">
			   		<label for="me().area">Pincode</label>
			   	</div>
			   	<div class="col-md-4">
					<a href="#" editable-text="me().pincode">{{ me().pincode|| "No Value"}}</a>
				</div>
			</div>
			
			</section>
			
			<!-- contact details -->
			<section>
		      <div class="page-header" id="contactdetails">
		    <h3> <a href="#"><span class="glyphicon glyphicon-earphone"></span>  Contact Details</a></h3>
		      </div>
		   	<div class="row">
		   		<div class="col-md-2">
			   		<label for="me().phno">Phone Number</label>
			   	</div>
			   	<div class="col-md-4">
					<a href="#" editable-text="me().contacts.phno">{{ me().contacts.phno|| "No Value"}}</a>
				</div>
				<div class="col-md-2">
			   		<label for="me().altphno">Alternate Phone Number</label>
			   	</div>
			   	<div class="col-md-4">
					<a href="#" editable-text="me().contacts.altphno">{{ me().contacts.altphno|| "No Value"}}</a>
				</div>
			</div>
			<div class="row">
		   		<div class="col-md-2">
			   		<label for="me().mobno">Mobile Number</label>
			   	</div>
			   	<div class="col-md-4">
					<a href="#" editable-text="me().contacts.mobno">{{ me().contacts.mobno|| "No Value"}}</a>
				</div>
				<div class="col-md-2">
			   		<label for="me().website">Website</label>
			   	</div>
			   	<div class="col-md-4">
					<a href="#" editable-text="me().website">{{ me().website|| "www."}}</a>
				</div>
			</div>
			<div class="row">
		   		<div class="col-md-2">
			   		<label for="me().facebook">Facebook</label>
			   	</div>
			   	<div class="col-md-4">
					<a href="#" editable-text="me().facebook">{{ me().facebook||"www.facebook.com/"}}</a>
				</div>
				<div class="col-md-2">
			   		<label for="me().twitter">Twitter</label>
			   	</div>
			   	<div class="col-md-4">
					<a href="#" editable-text="me().twitter">{{ me().twitter||"www.twitter.com/"}}</a>
				</div>
			</div>
		</section>

		<!-- Activity details -->
			<section>
		      <div class="page-header" id="activitydetails">
		    <h3> <a href="#"><span class="glyphicon glyphicon-list"></span>  Activity Details</a></h3>
		      </div>
		   	<div class="row">
		   		<div class="col-md-2">
			   		<label for="me().desc">Description</label>
			   	</div>
			   	<div class="col-md-9">
					<a href="#" editable-textarea="me().description" e-rows="7" e-cols="40" wrap="hard">
					    <pre>{{ me().description || "No Value" }}</pre>
					  </a>
				</div>
			</div>
			<div class="row">
		   		<div class="col-md-2">
			   		<label for="me().fees">Fees</label>
			   	</div>
			   	<div class="col-md-4">
					<a href="#" editable-text="me().fees">{{ me().fees || 0}}</a>
					<a href="#" editable-text="me().unit">{{ me().unit || "per month"}}</a>
				</div>
				<div class="col-md-2">
			   		<label for="me().age.min">Age Limit</label>
			   	</div>
			   	<div class="col-md-2">
					<a href="#" editable-text="me().age.from">{{ me().age.from || 0 }}</a>
					<label> to </label>
					<a href="#" editable-text="me().age.to">{{ me().age.to || 99}}</a>
					<label> years </label>
				</div>
			</div>
		
			<div class="row">
				<div class="col-md-2">&nbsp;
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-2">
					<label for="me().batches">Batches</label>
				</div>
			</div>
			<div class="row" style="margin-left:17%;margin-right:8%;">
			 <table class="table table-hover table-condensed">
			    <thead class=".table-warning" style="font-weight: bold">
			      <td style="width:45%">Days</td>
			      <td style="width:20%">Start Time</td>
			      <td style="width:20%">End Time</td>
			      <td style="width:15%">&nbsp;</td>
			    </thead>
			    <tr ng-repeat="batch in me().batches">
			    	<td style="vertical-align:middle;">
			    		<a href="#" editable-checklist="batch.days" e-ng-options="nday.day for nday in daylist">
    						{{ showdays(batch) }}
  						</a>
  					</td>
  					<td style="vertical-align:middle;">
  						<a href="#" editable-text ="me().batches[$index].starttime" >{{batch.starttime || 'Not set' }}</a>
  					</td>
  					<td style="vertical-align:middle;">
  						<a href="#" editable-text ="me().batches[$index].endtime" >{{batch.endtime || ' Not set' }}</a>
  					</td>
			    	<td style="white-space: nowrap">
			          <button class="btn btn-danger" ng-click="removeBatch($index)">Delete</button>
			      </td>	
			</table>
			<button class="btn btn-success" ng-click="addBatch()">Add Batch</button>
			</div>			

		</section>
		
		<!-- Location details -->
			<section>
		      <div class="page-header" id="locationdetails">
		    <h3> <a href="#"><span class="glyphicon glyphicon-map-marker"></span>  Location Details</a></h3>
		      </div>
		   <div class="row">
				<div class="col-md-2">
			   		<label for="me().landmark">Landmark</label>
			   	</div>
			   	<div class="col-md-8">
					<!-- a href="#" editable-text="me().landmark" id="address">{{ me().landmark|| "No Value"}}</a-->
					<input class="form-control input-md padding-top-5" ng-model="me().landmark" id="address"> 
				</div>
			</div>
			<div class="row">
				 <div id="map_canvas" style="margin-left:2%; width: 90%; height: 300px;"></div>
					    <div class="row">
					    	<div class="col-md-3"><input class="form-control input-sm" ng-model="me().loc.coordinates[0]" id="latitude" type="text" placeholder="Latitude"></div>
					       	<div class="col-md-3"><input  class="form-control input-sm" ng-model="me().loc.coordinates[1]" id="longitude" type="text" placeholder="Longitude"></div>
					    </div>
					   
			</div>
		</section>
		
		<!-- Images  -->
			<section>
		      <div class="page-header" id="images">
		    	<h3> <a href="#"><span class="glyphicon glyphicon-camera"></span>  Images</a></h3>
		      </div>
		      <div  class="page-header row">
			      	<div class="col-md-9"><h4> Owner Photos</h4></div>
			      	<div class="col-md-3">
			      		<button type="button" id="remove" class="btn btn-danger btn-xs pull-right" style="margin:2px">Remove <span class="glyphicon glyphicon-trash"></span></button>
			      		<button type="button" id="cancel" class="btn btn-warning btn-xs pull-right" style="display: none;margin:2px">Cancel <span class="glyphicon glyphicon-remove"></span></button>
						<button type="button" id="ok" class="btn btn-success btn-xs pull-right" style="display: none;margin:2px">OK <span class="glyphicon glyphicon-ok"></span></button>
					  	<label id="add" class="btn btn-primary btn-xs pull-right btn-file" style="margin:2px">
    						Add  <span class="glyphicon glyphicon-plus"></span><input type="file" style="display: none;" onchange="angular.element(this).scope().addChanged(this)">
						</label>
					</div>
			  		
			  </div>
		
			<div class="row">
				<div id="progressrow">
					<div class="col-md-10">
						<div class="progress">
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
						  aria-valuemin="0" aria-valuemax="100" style="width:0%">
						  	<span id="progresstext">0%</span>
						 </div>
					  </div>
					 </div>
					  <div class="col-md-2">
						<button type="button" class="btn btn-danger btn-xs btn-round btn-margin"><span class="glyphicon glyphicon-remove" ng-click="abortupload()"></span></button>  	
					  </div>
				</div>
			</div>	
			<script>
					$('#progressrow').hide();
			</script>
		<ul class="row" id="imglist">
			<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4" ng-repeat="image in me().images">
				    <span class="closebtn">&times;</span>
                <img class="img-responsive" ng-src="{{image.imgurl}}">
            </li>
            
		</ul>
 		 	<div  class="page-header">
		      	<h4> User Photos</h4>
			</div>            
		</section>
		
				<!-- Reviews  -->
			<section>
		      <div class="page-header" id="reviews">
		    <h3> <a href="#"><span class="glyphicon glyphicon-comment"></span>  User Reviews</a></h3>
		      </div>
	 <div class="col-md-11">
      <div class="well panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-2">
              <img src="http://api.randomuser.me/portraits/women/21.jpg" alt="" class="roundedImage"> <!-- class="center-block img-circle img-thumbnail img-responsive"-->
              <h4>Jane Doe</h4>
              <p class="myp1" star-rating rating-value="getSelectedRating(4)" max="getSelectedRating(5)" />
		
            </div>
            <!--/col--> 
            <div class="col-xs-9">
              <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure</p>
              
            </div>
           </div>
          <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->
    </div>
  	</section>
	</div>
		
		
 	<script>
		 		$('.fab').hover(function () {
		    $(this).toggleClass('active');
		});
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})
 	</script>
	{{me()|json}}	
</div>

				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">         
          <div class="modal-body">                
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    
        <script src="js/kc.fab.js"></script>
        <script>
            $(document).ready(function(){
                var links = [
                    {
                        "bgcolor":"#EF4130",
                        "icon":"<i class='fa fa-check'></i>"
                    },
                    {
                        "url":"http://www.example.com",
                        "bgcolor":"red",
                        "color":"#fffff",
                        "icon":"<i class='fa fa-remove'></i>",
                        "target":"_blank"
                    },
                    {
                        "url":"http://www.example.com",
                        "bgcolor":"green",
                        "color":"white",
                        "icon":"<i class='fa fa-save'></i>"
                    }
                ]
                $('.kc_fab_wrapper').kc_fab(links);
            })
        </script>
    
        	    	<!-- div class="container">
	<div class="row">
		        <div id="inbox">
          <div class="fab btn-group show-on-hover dropup">
              <div data-toggle="tooltip" data-placement="left" title="Compose" style="margin-left: 42px;">
          <button type="button" class="btn btn-danger btn-io dropdown-toggle" data-toggle="dropdown">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x fab-backdrop"></i>
                <i class="fa fa-plus fa-stack-1x fa-inverse fab-primary"></i>
                <i class="fa fa-pencil fa-stack-1x fa-inverse fab-secondary"></i>
            </span>
          </button></div>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a href="#" data-toggle="tooltip" data-placement="left" title="Coffee"><i class="fa fa-coffee"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="left" title="LiveChat"><i class="fa fa-comments-o"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="left" title="Reminders"><i class="fa fa-hand-o-up"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="left" title="Invites"><i class="fa fa-ticket"></i></a></li>
          </ul>
        </div>
        </div>
	</div>
</div>

 <div class="navbar navbar-primary navbar-fixed-bottom" id="footer">
    <div class="container">
   <div class="col-md-5">&nbsp;</div>
   <div class="col-md-3 text-center">
    <div class=" navbar-btn btn-success btn ">
      <span class="glyphicon glyphicon-floppy-disk"></span> Save</div>
    
      <div class="navbar-btn btn-danger btn ">
      <span class="glyphicon glyphicon-remove"></span> Cancel</div>
    </div>
    </div>
    
    
  </div-->
</body>


</html>