<html>
<head>
	<!-- script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script src="js/formvalidation.js"></script-->

</head>

<body>
		<form method="post" name="authform" id="authform">
  		<div class="modal-header">
           		<span>Kidos Authentication</span>
			</div>
			<div class="modal-body">
				
            		<span>You are just few steps away from activating your registered class</span>
            			<input type="hidden" ng-model="authform.txtresetind" ng-value="{{resetind}}" />
            			
            			<input class="modal-input" id="txtmobno"  ng-model="authform.txtmobno" type="text" placeholder="Registered Mobile No" required/>
            			<br/>
            			<input class="modal-input" id="txtnick" ng-model="authform.txtnick" type="text" placeholder="Nick Name" ng-required="!activatebtndisabled"/>
            			<br/>
            			<input class="modal-input" id="txtemail" ng-model="authform.txtemailid" type="email" placeholder="Email Address" ng-required="!activatebtndisabled"/>
            			<br/>
            			<input class="modal-input" id="txtpass"  ng-model="authform.txtpass" type="password" placeholder="New Password" ng-required="!activatebtndisabled"/>
            			<br/>
            			<input class="modal-input" id="txtrepass"  ng-model="authform.txtrepass" type="password" placeholder="Retype New Password" data-password-verify="authform.txtpass" ng-required="!activatebtndisabled"/>
            			<br/>
            			<input class="modal-input" id="txtotp" ng-model="authform.txtotp" type="text" ng-disabled="activatebtndisabled" placeholder="Enter OneTime Password" ng-required="!activatebtndisabled"/>
            			<br/>
            			<div ng-show="otpmsg" style="margin-top:5px;color:green;font-size:13px">One Time Password sent to registered mobile</div>
            			
            			<div ng-show="authstarted || autherr" style="margin-top:5px;color:red;font-size:13px">{{authStatusTxt}}</div>
			
			</div>
	        <div class="modal-footer">
	        	
	    	    <button type="submit" ng-show="!(!!resetind)" id="btn-generateotp" class="btn btn-success"  ng-disabled="authstarted" ng-class="{'btn-success': otppending, 'btn-warning': !otppending}" ng-click="authform.$valid && generateOTP()">{{generateOTPtxt}}</button>
	        	<button type="submit" id="btn-activate" class="btn btn-success"  ng-disabled="activatebtndisabled || authstarted " ng-click="authform.$valid && authenticateUser()">{{activatebtntext}}</button>
            </div>
            </form>	
</body>
</html>